---
import Layout from "../layouts/Layout.astro";
import PSESHeader from "../components/organisms/PSESHeader.astro";
import PSESLanding from "../components/organisms/PSESLanding.astro";
import PSESFestival from "../components/organisms/PSESFestival.astro";
import PSESFooter from "../components/organisms/PSESFooter.astro";
---

<Layout title="Accueil - PSES">
	<PSESHeader />
	<main id="main">
		<PSESLanding />
		<PSESFestival />
		<!-- Insert nous contacter organism -->
	</main>
	<PSESFooter />
</Layout>

<style>
	main {
		padding: 0;
		margin: 0;
	}
</style>
