---
export interface Props {
	href: string;
	title: string;
	icon: string;
}

const { href, title, icon } = Astro.props;
---

<a href={href}>
	<h3>
		{title}
	</h3>
	<span>
		{icon}
	</span>
</a>

<style>
	a {
		min-width: 100px;
		border: 2px solid transparent;
		padding: 16px 8px;
		transition: border-color 0.2 ease-out;
		color: white;
		display: block;
		text-align: center;
		text-decoration: none;
	}

	a:hover,
	a:focus {
		border-color: white;
	}

	h2 {
		margin: 0;
	}

	h3 {
		text-decoration: underline;
	}

	span {
		text-decoration: none;
		font-size: 3rem;
	}
</style>
