---
---

<a href="#main"> Accéder au contenu principal</a>

<style>
  a {
    position: absolute;
    left: -9999rem;
    color: white;
    border: 2px solid transparent;
    outline: none;
    padding: 1rem;
    background-color: var(--color-primary);
  }

  a:hover,
  a:focus {
    border-color: white;
  }

  a:focus {
    left: 1rem;
  }
</style>
