<section id="festival" class="pal">
  <h2>Bienvenue chez vous&nbsp;!</h2>

  <p>
    Le festival <span class="bold">Pas Sage En seine</span> est un rendez-vous annuel
    de la région parisienne qui vient de fêter ses 10 ans déjà.
  </p>

  <p>
    Lieu incontournable du milieu hacker à ses débuts, il a toujours eu pour
    vocation d’amener les citoyens de tous horizons à se réapproprier la société
    en bidouillant le système.
  </p>

  <p>
    Initialement axé numérique, il s’est ouvert au fur et à mesure des éditions
    et traite aujourd’hui de sujets aussi variés que la politique, la justice,
    l’alimentation, les médias, la littérature, les sciences, les arts, le
    journalisme, le divertissement, l’inclusivité, l’accessibilité, le handicap…
  </p>

  <p>
    L’entrée est libre et gratuite afin d’être accessible au plus grand nombre,
    sans discrimination de ressources.
  </p>

  <p>
    Le thème de l’édition 2023 est (peut-être)&nbsp;:
    <strong>Bidouille, écologie &amp; démocratie</strong>.
  </p>
</section>

<style>
  section {
    background-color: var(--color-primary);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0;

    font-size: 1.1rem;
  }

  section * {
    max-width: 60ch;
  }
</style>
